<form #f="ngForm">
    <mat-form-field width=100%>
        <input matInput placeholder="Input Name" name="title" ngModel>
        <p>人数を選択してください</p>
        <mat-select name="seats" ngModel>
            <mat-option value="5">５人</mat-option>
            <mat-option value="6">６人</mat-option>
            <mat-option value="7">７人</mat-option>
            <mat-option value="8">８人</mat-option>
            <mat-option value="9">９人</mat-option>
            <mat-option value="10">１０人</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-raised-button color="accent" type="submit" (click)="onCreateRoom(f.value)">
            <span>作成</span>
        </button>
    </div>

</form>

